* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  font-family: sans-serif;
  background-color: #98a1cc;
  font-size: 20px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2c89d8;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #fff;
  font-family: sans-serif;
}
nav ul {
  font-size: 20px;
  margin-left: 67%;
  margin: 2px;
  width: 50%;
  margin-right: -140px;
}

.logo, img {
  color: #fff;
  width: 22%;
  margin-left: -60px;
}

ul {
  padding: 5px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 50%;
}
ul #active {
  background: hsl(179, 77%, 53%);
}

ul li a {
  font-family: sans-serif;
  text-decoration: none;
  color: #fff;
  padding: 8px 20px;
  padding: 15px;
  font-weight: bold;
  transition: all 0.3s cased;
}

ul li a:hover, ul li a:active {
  color: #fff;
  background: rgb(33, 235, 235);
}

.map iframe {
  width: 100%;
  height: 50vh;
  margin-top: 65px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.follow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin: 20px;
}
.follow .mail, .follow .phone, .follow .location {
  width: 70%;
  padding: 5%;
  border-radius: 20px;
  margin-left: 35px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.follow .mail a, .follow .phone a, .follow .location a {
  text-decoration: none;
  color: black;
}
.follow .location:hover {
  background: rgba(97, 118, 212, 0.7803921569);
  color: #fff;
}
.follow .mail:hover {
  background: rgba(97, 118, 212, 0.7803921569);
}
.follow .phone:hover {
  background: rgba(97, 118, 212, 0.7803921569);
}
.follow .fa-solid {
  margin-bottom: 20px;
  font-size: 30px;
  border: 1px solid;
  padding: 10px;
  border-radius: 50%;
}

.content-pointment {
  margin-top: 20px;
}
.content-pointment h1,
.content-pointment p {
  text-align: center;
  color: #fff;
}
.content-pointment p {
  margin-bottom: 20px;
  width: 90%;
  margin: 0 auto;
}
.content-pointment p {
  margin-bottom: 20px;
}

.make-appointment {
  background-color: rgba(97, 118, 212, 0.7803921569);
  padding: 20px;
  width: 87%;
  border-radius: 30px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 2fr;
}
.make-appointment .form-letf h3 {
  color: #fff;
}
.make-appointment form {
  margin-top: 20px;
}
.make-appointment form .user {
  margin-bottom: 10px;
}
.make-appointment form .user .peoples {
  position: absolute;
  top: 177%;
  left: 29%;
  color: gray;
}
.make-appointment form .user .people {
  position: absolute;
  top: 177%;
  left: 54.5%;
  color: gray;
}
.make-appointment form .number-phone {
  margin-bottom: 10px;
}
.make-appointment form .number-phone .fa-phone-volume {
  position: absolute;
  top: 184.4%;
  left: 28.7%;
  color: gray;
}
.make-appointment form .number-phone .fa-lock {
  position: absolute;
  top: 184.5%;
  left: 54.4%;
  color: gray;
}
.make-appointment form .email, .make-appointment form .message {
  margin-bottom: 10px;
}
.make-appointment form .name,
.make-appointment form .number,
.make-appointment form .password {
  padding: 10px;
  width: 44%;
  margin-right: 10px;
  outline-color: rgb(135, 135, 224);
  border-radius: 10px;
  border: none;
  background-color: gainsboro;
}
.make-appointment form .address-email {
  padding: 10px;
  width: 93.1%;
  outline-color: rgb(135, 135, 224);
  border-radius: 10px;
  border: none;
  background-color: gainsboro;
}
.make-appointment form .text {
  padding: 10px;
  width: 93.1%;
  outline-color: rgb(135, 135, 224);
  border-radius: 10px;
  border: none;
  background-color: gainsboro;
  height: 15vh;
}
.make-appointment form .name:hover {
  background-color: #fff;
}

button {
  padding: 10px;
  text-align: center;
  width: 96.4%;
  background-color: rgb(93, 193, 226);
  border: none;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
}
button a {
  text-decoration: none;
  color: #fff;
}

.application {
  border-left: 3px solid;
}
.application .app {
  border: 1px solid black;
  margin: auto;
  width: 80%;
  margin-bottom: 20px;
  padding: 5px;
  border: none;
  background-color: gainsboro;
  border-radius: 30px;
}
.application .app img {
  width: 10%;
  vertical-align: middle;
  margin-left: 8px;
  padding: 2px;
}
.application .app:hover {
  transform: translateY(-5px);
  transition: 0.3s;
  background-color: white;
}

.timetable {
  margin-top: 20px;
  text-align: center;
  color: #fff;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  overflow: hidden;
}

td,
th {
  color: #fff;
  border: 1px solid #dddddd;
  padding: 8px;
  width: 12.85%;
  text-align: center;
}

th {
  background-color: rgb(75, 196, 236);
}

td {
  background-color: rgba(97, 118, 212, 0.7803921569);
  color: #fff;
  font-size: 13px;
}

td:nth-child(even):hover {
  background-color: rgb(108, 208, 241);
}

td:nth-child(odd):hover {
  background-color: #2b335c;
}

.font {
  margin-top: 20px;
  margin-bottom: 20px;
}
.font h1, .font p {
  text-align: center;
  color: #fff;
}
.font p {
  margin-bottom: 20px;
}

.feedback {
  margin-top: 20px;
  margin-bottom: 20px;
}
.feedback h1, .feedback p {
  text-align: center;
  color: #fff;
}
.feedback p {
  margin-bottom: 20px;
}
.feedback form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}
.feedback form .img {
  background-image: url("/images/contact/image copy 5.png");
  background-position: center;
  background-size: cover;
  margin-left: 20px;
}
.feedback form .rigth {
  display: grid;
  justify-content: center;
}
.feedback form .rigth h4 {
  color: #fff;
}
.feedback form .rigth .rat, .feedback form .rigth .ne, .feedback form .rigth .em {
  margin-top: 5px;
  color: #fff;
}
.feedback form .rigth button {
  padding: 10px;
  width: 45%;
  font-family: sans-serif;
  background-color: rgb(58, 181, 223);
  border: none;
  border-radius: 10px;
}
.feedback form .rigth button a {
  text-decoration: none;
  color: #000;
}
.feedback .comment {
  margin-top: 20px;
  padding: 10px;
  width: 88%;
  margin: auto;
  background-color: rgba(97, 118, 212, 0.7803921569);
  height: 59vh;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.feedback span {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}
.feedback .username {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: none;
  background-color: gainsboro;
  outline-color: #2c89d8;
  margin-bottom: 10px;
}
.feedback .username:hover {
  background-color: #fff;
}
.feedback .text {
  height: 5vh;
}

.grid-container-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;
  background: #2b335c;
  color: white;
  width: 100%;
}
.grid-container-footer .logo-footer .button-footer {
  border: none;
  font-weight: bold;
  color: white;
  background: #2be3e0;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  margin-left: 20px;
  width: 35%;
}
.grid-container-footer .logo-footer .button-footer:hover {
  background-color: #2c89d8;
}
.grid-container-footer .logo-footer .lg-footer img {
  margin-top: 8px;
  width: 100px;
  margin-left: 30px;
  border-radius: 100%;
}
.grid-container-footer .quick-link {
  display: grid;
  row-gap: 10px;
  margin: 10px;
}
.grid-container-footer .time-work {
  display: grid;
  row-gap: 10px;
  margin: 10px;
}
.grid-container-footer .get-in-toch {
  display: grid;
  row-gap: 10px;
  margin: 10px;
}
.grid-container-footer .get-in-toch p:hover {
  text-decoration: none;
}
.grid-container-footer .get-in-toch .bt-footer {
  border: none;
  font-weight: bold;
  color: white;
  background: #2be3e0;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  margin-left: -1px;
  width: 40%;
}
.grid-container-footer .get-in-toch .bt-footer:hover {
  background-color: #2c89d8;
}
.grid-container-footer p:hover {
  text-decoration: underline;
}

@media (min-width: 768px) and (max-width: 1024px) {
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2c89d8;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #fff;
    font-family: sans-serif;
  }
  nav ul {
    font-size: 20px;
    margin-left: 67%;
    margin: 2px;
    width: 50%;
    margin-right: -140px;
  }
  nav ul {
    margin-left: 67%;
    margin: 3px;
    margin-right: -140px;
  }
  nav ul li a {
    margin-right: 15px;
  }
  nav .logo,
  nav img {
    width: 29%;
    margin-left: -55px;
    margin-right: -23%;
  }
  .follow {
    margin-left: -15px;
    margin-right: 35px;
  }
  .follow .mail,
  .follow .phone,
  .follow .location {
    font-size: 13px;
    height: 14vh;
    width: 80%;
    padding: 5%;
  }
  .timetable h1 {
    font-size: 30px;
  }
  .timetable p {
    font-size: 16px;
  }
  .timetable table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 93%;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    overflow: hidden;
  }
  .timetable th {
    background-color: rgba(97, 118, 212, 0.7803921569);
  }
  .timetable td {
    background-color: rgba(97, 118, 212, 0.7803921569);
    color: #fff;
    font-size: 13px;
  }
  .timetable tr:nth-child(3) {
    display: none;
  }
  .content-pointment h1 {
    font-size: 30px;
  }
  .content-pointment p {
    font-size: 16px;
  }
  .content-pointment .make-appointment {
    background-color: rgba(97, 118, 212, 0.7803921569);
  }
  .content-pointment .make-appointment h3 {
    color: #fff;
  }
  .content-pointment .make-appointment .form-letf .name,
  .content-pointment .make-appointment .form-letf .number,
  .content-pointment .make-appointment .form-letf .password,
  .content-pointment .make-appointment .form-letf .address-email,
  .content-pointment .make-appointment .form-letf .text {
    width: 90%;
    margin-bottom: 10px;
  }
  .content-pointment .make-appointment .form-letf .number,
  .content-pointment .make-appointment .form-letf .password {
    display: none;
  }
  .content-pointment .make-appointment .form-letf .lastname {
    margin-top: 10px;
  }
  .content-pointment .make-appointment .form-letf .fa-solid,
  .content-pointment .make-appointment .form-letf .fa-user {
    display: none;
  }
  .content-pointment .make-appointment .button {
    width: 78%;
  }
  .feedback h1 {
    font-size: 30px;
  }
  .feedback p {
    font-size: 16px;
  }
  .feedback .comment {
    background-color: rgba(97, 118, 212, 0.7803921569);
    height: 73vh;
  }
  .feedback .comment form .img {
    height: 64vh;
  }
  .feedback .comment form .rigth {
    color: #fff;
  }
  .feedback .comment form .rigth h4 {
    margin-bottom: 10px;
  }
  .feedback .comment form .rigth .rat,
  .feedback .comment form .rigth .ne,
  .feedback .comment form .rigth .em,
  .feedback .comment form .rigth .com {
    margin-top: -5px;
  }
  .feedback .comment form .rigth .ne {
    margin-top: 5px;
  }
}
.grid-container-footer {
  font-size: 16px;
}
.grid-container-footer .lg-footer {
  margin-left: -10px;
  margin-top: -5px;
}

@media (min-width: 320px) and (max-width: 480px) {
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2c89d8;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #fff;
    font-family: sans-serif;
  }
  nav ul {
    font-size: 20px;
    margin-left: 67%;
    margin: 2px;
    width: 50%;
    margin-right: -140px;
  }
  nav ul {
    font-size: 13px;
    margin: 2px;
    margin-right: -20px;
    width: 100%;
    margin-left: -90px;
  }
  nav ul li a {
    margin-right: 15px;
  }
  .logo,
  img {
    color: #fff;
    width: 40%;
    margin: 2px;
    margin-right: 15%;
  }
  .logo ul,
  img ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .logo ul #active,
  img ul #active {
    background: hsl(179, 77%, 53%);
  }
  .map iframe {
    width: 100%;
    height: 35vh;
    margin-top: 63px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .follow {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .follow .mail,
  .follow .phone,
  .follow .location {
    font-size: 13px;
    height: 15vh;
    width: 50%;
    margin-left: 70px;
    margin-bottom: 20px;
  }
  .follow .fa-solid {
    font-size: 20px;
    margin: 5px;
  }
  .timetable {
    display: none;
  }
  .content-pointment h1 {
    font-size: 25px;
    text-align: center;
  }
  .content-pointment p {
    font-size: 17px;
    width: 80%;
    text-align: justify;
  }
  .content-pointment .make-appointment {
    width: 70%;
    height: 55vh;
  }
  .content-pointment .make-appointment h3 {
    color: #fff;
    font-size: 12px;
  }
  .content-pointment .make-appointment .user {
    margin-top: -20px;
  }
  .content-pointment .make-appointment .name {
    margin-top: 10px;
  }
  .content-pointment .make-appointment .name,
  .content-pointment .make-appointment .address-email,
  .content-pointment .make-appointment .text {
    width: 85%;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .content-pointment .make-appointment .number,
  .content-pointment .make-appointment .password {
    display: none;
  }
  .content-pointment .make-appointment .fa-solid,
  .content-pointment .make-appointment .fa-user {
    display: none;
  }
  .content-pointment .make-appointment button {
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .content-pointment .make-appointment .application {
    border-left: 1px solid #000;
  }
  .content-pointment .make-appointment .application .app {
    padding: 5px;
    font-size: 12px;
    width: 90%;
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .content-pointment .make-appointment .application .app img {
    width: 20%;
  }
  .content-pointment .make-appointment .application .app:active {
    transform: translateY(-10px);
    transition: 0.3s;
  }
  .feedback h1 {
    font-size: 25px;
    text-align: center;
  }
  .feedback p {
    font-size: 17px;
    width: 90%;
    margin-left: 20px;
    text-align: justify;
  }
  .feedback .comment {
    width: 70%;
    height: 70vh;
  }
  .feedback .img {
    display: none;
  }
  .feedback .rigth {
    color: #fff;
    height: 55vh;
    margin-top: -10px;
    width: 100%;
    margin-left: 70px;
  }
  .feedback .rigth h4 {
    width: 190%;
    font-size: 14px;
    margin-left: 40px;
    margin-left: -20px;
  }
  .feedback .rigth .rat {
    width: 130%;
  }
  .feedback .rigth span {
    font-size: 13px;
  }
  .feedback .rigth .btn {
    width: 90%;
    padding: 6px;
    margin-top: 10px;
    text-align: center;
    margin-left: 15px;
  }
  .grid-container-footer {
    width: 100%;
    font-size: 10px;
  }
  .grid-container-footer .logo-footer {
    margin-left: -20px;
  }
  .grid-container-footer .logo-footer .lg-footer,
  .grid-container-footer .logo-footer img {
    display: none;
  }
  .grid-container-footer .logo-footer .button-footer {
    display: none;
  }
  .grid-container-footer .quick-link,
  .grid-container-footer .time-work,
  .grid-container-footer .get-in-toch {
    margin-top: 10px;
    margin-left: -10px;
    margin-right: 30px;
  }
  .grid-container-footer .bt-footer {
    display: none;
  }
}/*# sourceMappingURL=contact.css.map */