@import"./components/componentes_home/_varible";
@import"./components/componentes_home/_navbar";
@import"./components/componentes_home/_mixin";
@import"./components/componentes_home/_main";
@import"./components/componentes_home/_responsive";
@import"./components/componentes_home/_foodter";
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
    body{
        background-color: #808cc2;
        color: #fff;    
    }
   