@mixin completed() {
    padding: 10px;
    width: 44%;
    margin-right: 10px;
    outline-color: rgb(135, 135, 224);
    border-radius: 10px;
    border: none;
    background-color: gainsboro;
}

@mixin completed-location() {
    padding: 10px;
    width: 93.1%;
    outline-color: rgb(135, 135, 224);
    border-radius: 10px;
    border: none;
    background-color: gainsboro;
}

@mixin form-icon($top: 177%, $left: 29%) {
    position: absolute;
    top: $top;
    left: $left;
    color: gray;
}