@mixin style-Nav($margub-left:67%){
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $bg-color-nav;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #fff;

    ul{
        margin-left: $margub-left;
    }

}