@mixin style-Nav($margub-left:67%){
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $bg-color-nav;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #fff;
    font-family: sans-serif;

    ul{
        font-size: 20px;
        margin-left: $margub-left;
        margin: 2px;
        width: 50%;
        margin-right: -140px;
    }

}