@import"mixink.scss";
nav{
    background-image: url(/images/home/img3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 70vh; 
    ul{
        background-color: $bg-color;
        opacity: 0.9;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 25px;
        height: 10vh;
        width: 100%;
      
        img{
            margin-right: 2700%;
            width: 60px;
            margin-bottom: 5px;
        }
        li{
         
            list-style-type: none;
            @include center();
            a{
               
                text-decoration: none;
                margin-left: 40px;
                margin-right: 40px;
                color: $text-color;
                
            }
            
        }
    }
    .paragrab{
        margin: 0;
        background: $bg-color;
        opacity: 0.8;
        height: 57vh;
        padding: 10px;


    }
    h1{
        font-size: 40px;
        margin: 5px 20px;
    }
    button{
        margin: 5px 20px;
        padding: 10px;
        width: 150px;
        height: 10vh;
        border-radius: 20px;
        border: none;
        color: $text-color;
        background-color: hsl(179, 77%, 53%);
        font-size: 20px;
        
    }
        p{
            font-size: 20px;
            margin: 5px 20px;
            
        }
        .doctor{
            width: 300px;
            position: absolute;
            top: 69px;
            left: 70%;
        }
    }