@import"__mixins";
nav {
    flex: 0.5;
    background: $bg-navbar;
   @include text-center-nav;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    background: #8099ae;
    height: 10vh;
    width: 100%;
    opacity: 0.8;
}
ul li {
    padding: 15px;
}
ul li a {
    font-size: 20px;
    font-weight: bold;
    color: $color-nav;
    text-decoration: none;
}
.logo{
    margin-left: -1150%;
}
.service h1{
    position: absolute ;
    top: 35%;
    background: #8099ae;
    padding: 20px;
    left: 20px;
    opacity: 0.8;
}
.container{
    h1{
        text-align: center;
        margin-top: 20px;
    }
    .chioes{
        margin: 20px;
        display: flex;
        justify-content: space-around;

        .choes-1{
            font-weight: bold;
            font-size: 20px;
        }
        .choes-2{
            margin-left: 2%;
            background: #ccc;
            padding: 10px;
            border-radius: 100%;
        }
        .choes-3{
            margin-left: 5%;
            background: #ccc;
            padding: 10px;
            border-radius: 100%;
        }
        .choes-4{
            margin-left: 3%;
            background: #ccc;
            padding: 10px;
            border-radius: 100%;
        }
    }
    .line{
        border-bottom:2px solid black ;
        margin-left: 30px;
        margin-right: 30px;
    }
}
.check-up{
    h1{
        margin-top: 70px;
        text-align: center;
    }
    .img-check{
        margin: 20px;
        display: flex;
        justify-content: center;

        .pic-1{
            margin: 20px;
            font-weight: bold;
            font-size: 20px;
        }
        img{
            width: 300px;
            height: 200px;
            object-fit: cover;
            border-radius: 10px;
        }
        p{
            margin-left: 70px;
            margin-top: 10px;
        }
    }
}
.button-1{
    display: flex;
    justify-content: center;
    align-items: center;

    .center-button{
        border: none;
        font-weight: bold;
        color: white;
        background: #2be3e0;
        padding: 15px;
        border-radius: 10px;
    }
}
.additional-service{
    margin-top: 20px;
    text-align: center;
    .cards{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .card img{
            margin: 20px;
            width: 300px;
        }
        .card p{
            margin-top: 20px;
        }
    }
    
}
.list{
    margin-top: 20px;
    text-decoration: underline;
    margin-left: 70px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(2,3fr);
    grid-gap: 40px;
    padding: 10px;
    margin-top: 20px;

   .item{
    display: flex;
    margin-left: 40%;

     span{
        margin-left: 20px;
    }
   }
}
.parnership {
    h1{
        margin-top: 20px;
        text-align: center;
    }
    p{
        margin-top: 20px;
        margin: 20px;
        text-align: justify;
    }
}
.logo-partnership{
    display: flex;
    flex-wrap: wrap;
    .logo-1 img{
        width: 200px;
        border-radius: 100%;
        margin-left: 40px;
        margin-top: 30px;
        }

       
}
.grid-container-footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 10px;
    margin-top: 20px;
    background:     #2b335c;
    color: white;
    width: 100%;
    .logo-footer{

        .button-footer{
            border: none;
            font-weight: bold;
            color: white;
            background: #2be3e0;
            padding: 10px;
            margin: 10px;
            border-radius: 5px;
        }
        .lg-footer img{
            margin-top: 8px;
            width: 60px;
            margin-left: 15px;
            border-radius:100%;
        }
    }
    .quick-link{
        display: grid;
        row-gap: 10px;
        margin: 10px;
    }
    .time-work{
        display: grid;
        row-gap: 10px;
        margin: 10px;
    }
    .get-in-toch{
        display: grid;
        row-gap: 10px;
        margin: 10px;

        .bt-footer{
            border: none;
            font-weight: bold;
            color: white;
            background: #2be3e0;
            padding: 10px;
            margin: 10px;
            border-radius: 5px;
            margin-left: -1px;
        }
    }

}