@import"__mixins";
nav {
    flex: 0.5;
    background: $bg-navbar;
   @include text-center-nav;
}
ul {
    list-style-type: none;
    display: flex;
}
ul li {
    padding: 15px;
}
ul li a {
    color: $color-nav;
    text-decoration: none;
}