// Responsive-Mobile



@media(max-width:480px) {
    .check-up{
        h1{
            margin-top: 70px;
            text-align: center;
            font-size: 20px;
        }
        .img-check{
            margin: 20px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
    
            .pic-1{
                margin: 20px;
                font-weight: bold;
                font-size: 20px;
            }
            img{
                width: 300px;
                height: 200px;
                object-fit: cover;
                border-radius: 10px;
            }
            p{
                margin-left: 70px;
                margin-top: 10px;
                font-size: 16px;
            }
        }
    }
}


@media(max-width:480px) {
    .additional-service{
        margin-top: 20px;
        text-align: center;

        h1{
            font-size: 20px;
        }
        .cards{
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .card img{
                margin: 20px;
                width: 300px;
            }
            .card h4{
                margin-bottom: 20px;
                padding: 20px;
            }
        }
        
    }
}


@media(max-width: 480px){
    .container{
        h1{
            text-align: center;
            margin-top: 20px;
            font-size: 20px;
        }
        .chioes{
            margin: 20px;
            display: flex;
            justify-content: space-around;
           
    
            .choes-1{
                // font-weight: bold;
                font-size: 15px;
            }
            .choes-2{
                margin-left: 2%;
                background: #fff;
                color: black;
                padding: 10px;
                border-radius: 100%;
            }
            .choes-3{
                margin-left: 5%;
                background: #fff;
                color: black;
                padding: 10px;
                border-radius: 100%;
            }
            .choes-4{
                margin-left: 3%;
                background: #fff;
                color: black;
                padding: 10px;
                border-radius: 100%;
            }
        }
        .line{
            border-bottom:2px solid white ;
            margin-left: 30px;
            margin-right: 30px;
        }
    }
    
}


@media(max-width:480px) {
    .list{
        font-size: 10px;
        margin-top: 20px;
        text-decoration: underline;
        margin-left: 70px;
    }
    .grid-container{
        display: grid;
        grid-template-columns: repeat(2,3fr);
        grid-gap: 40px;
        padding: 10px;
        margin-top: 20px;
    
       .item{
        display: flex;
        margin-left: 22%;
    
         span{
            font-size: 13px;
            margin-left: 20px;
        }
       }
    }
    .parnership {
        h1{
            font-size: 20px;
            margin-top: 20px;
            text-align: center;
        }
        .par-p{
            font-size: 10px;
            margin-top: 20px;
            margin: 20px;
            text-align: justify;
        }
    }
    .logo-partnership{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .logo-1 img{
            width: 60px;
            border-radius: 100%;
            margin-left: 40px;
            margin-top: 30px;
            }
    }
}

@media(max-width: 480px){
    .grid-container-footer{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        padding: 10px;
        margin-top: 20px;
        background:     #232b52;
        color: white;
        width: 100%;
        font-size: 8px;
        .logo-footer{
    
            .button-footer{
                font-size: 10px;
                border: none;
                font-weight: bold;
                color: white;
                background: #2be3e0;
                padding: 10px;
                margin: 10px;
                border-radius: 5px;
                margin-left: 20px;
            }
            .lg-footer img{
                margin-bottom: 10px;
                width: 50px;
                margin-left: 25px;
                border-radius:100%;
                overflow: hidden;
            }
        }
        .quick-link{
            display: grid;
            row-gap: 10px;
            // margin: 10px;
        }
        .time-work{
            display: grid;
            row-gap: 10px;
            // margin: 10px;
        }
        .get-in-toch{
            display: grid;
            row-gap: 10px;
            // margin: 10px;
    
            .bt-footer{
                font-size: 10px;
                border: none;
                font-weight: bold;
                color: white;
                background: #2be3e0;
                padding: 10px;
                margin: 10px;
                border-radius: 5px;
                margin-left: -1px;
            }
        }
    }
}

// Responsive-Tablet

@media(max-width: 768px){
    ul {
        list-style-type: none;
        display: flex;
        // justify-content: flex-end;
        background:$bg-navbar ;
        height: 10vh;
        width: 100%;
        padding: 7px;
        opacity: 0.8;
        li{
            padding: 15px;
            img{
                width: 80px;
                margin-right: 350px;     
                margin-top: -20px;       
            }
        }
        li a {
            font-size: 20px;
            font-weight: bold;
            color: $color-nav;
            text-decoration: none;
    
        }
    }
    .service h1{
        font-size: 20px;
        position: absolute ;
        top: 25%;
        background: #808cc2;
        padding: 20px;
        left: 20px;
        opacity: 0.8;
    }


    .list{
        font-size: 10px;
        margin-top: 20px;
        text-decoration: underline;
        margin-left: 70px;
    }
    .grid-container{
        display: grid;
        grid-template-columns: repeat(2,3fr);
        grid-gap: 40px;
        padding: 10px;
        margin-top: 20px;
    
       .item{
        display: flex;
        margin-left: 38%;
    
         span{
            font-size: 15px;
            margin-left: 20px;
        }
       }
    }
    .parnership {
        h1{
            font-size: 20px;
            margin-top: 20px;
            text-align: center;
        }
        .par-p{
            font-size: 15px;
            margin-top: 20px;
            margin: 20px;
            text-align: justify;
        }
    }
    .logo-partnership{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .logo-1 img{
            width: 60px;
            border-radius: 100%;
            margin-left: 40px;
            margin-top: 30px;
            }
    }
}