.font{
    h1,p{
        text-align: center;
        color: $bg-color-text;
    }
    p{
        margin-bottom: 20px;
    }
}
.feedback{
    margin-top: 20px;
    margin-bottom: 20px;
    @extend .font;
    form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 20px;
        .img {
            background-image: url("/images/contact/image\ copy\ 4.png  ");
            background-position: center ;
            background-size: cover;
            margin-left: 20px;
        }
        .rigth{
            display: grid;
            justify-content: center;
            h4{
                color: #fff;
            }
            .rat,.ne,.em{
                margin-top: 5px;
                color: #fff;
            }
            button{
                padding: 10px;
                width: 45%;
                font-family: sans-serif;
                background-color:rgb(58, 181, 223);
                border: none;
                border-radius: 10px;
            a{
                text-decoration: none; 
                color: #000;
            }
            }
        }
    }
   .comment{
    margin-top: 20px;
    padding: 10px;
    width: 88%;
    margin: auto;
    background-color: $bg-color-table;
    height: 59vh;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   }
   span{
    font-size: 15px;
    font-weight: bold;
    color: #fff;
   }
   .username{
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: gainsboro;
    outline-color: $bg-color-nav;
    margin-bottom: 10px;
   }
   .text{
    height: 5vh;
   }
}
