@import"../mixincontact/_mixinfeedback";
.font{
   @include feedback-styles();
}
.feedback{
    @include feedback-styles();
    form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 20px;
        .img {
            background-image: url("/images/contact/image\ copy\ 5.png");
            background-position: center;
            background-size: cover;
            margin-left: 20px;
        }
        .rigth{
            display: grid;
            justify-content: center;
            h4{
                color: $bg-color-text;
            }
            .rat,.ne,.em{
                margin-top: 5px;
                color: $bg-color-text;
            }
            button{
                @include button-styles(rgb(58, 181, 223))
            }
        }
    }
   .comment{
    margin-top: 20px;
    padding: 10px;
    width: 88%;
    margin: auto;
    background-color: $bg-color-table;
    height: 59vh;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   }
   span{
    font-size: 15px;
    font-weight: bold;
    color: $bg-color-text;
   }
   .username{
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: gainsboro;
    outline-color: $bg-color-nav;
    margin-bottom: 10px;
   }
   .username:hover{
    background-color: $bg-color-text;
   }
   .text{
    height: 5vh;
   }
}
