.grid-container-footer {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 20px;
    background:$bg-color-footer;
    color: white;
    width: 100%;
    .logo-footer{

        .button-footer{
            border: none;
            font-weight: bold;
            color: white;
            background:$bg-color-btn;
            padding: 10px;
            margin: 10px;
            border-radius: 5px;
            margin-left: 35px;  
        }
        
        .lg-footer img{
            margin-top: 8px;
            width: 100px;
            margin-left: 30px;
            border-radius:100%;
        }
    }
    .quick-link{
        display: grid;
        row-gap: 10px;
        margin: 10px;
    }
    .time-work{
        display: grid;
        row-gap: 10px;
        margin: 10px;
    }
    .get-in-toch{
        display: grid;
        row-gap: 10px;
        margin: 10px;

        .bt-footer{
            border: none;
            font-weight: bold;
            color: white;
            background: #2be3e0;
            padding: 10px;
            margin: 10px;
            border-radius: 5px;
            margin-left: -1px;
        }
    }

}