@import"../mixincontact/_mixinfooter";
.grid-container-footer {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 20px;
    background:$bg-color-footer;
    color: white;
    width: 100%;
    .logo-footer{

        .button-footer{
            border: none;
            font-weight: bold;
            color: white;
            background:$bg-color-btn;
            padding: 10px;
            margin: 10px;
            border-radius: 5px;
            margin-left: 20px;
            width: 35%;  
        }
        .button-footer:hover{
            background-color: $bg-color-nav;
        }
        .lg-footer img{
            margin-top: 8px;
            width: 100px;
            margin-left: 30px;
            border-radius:100%;
        }
    }
    .quick-link{
        @include grid-font(10px);
    }
    .time-work{
        @include grid-font(10px);
    }
    .get-in-toch{
        @include grid-font(10px);
        p:hover{
            text-decoration: none;
        }
     
        .bt-footer{
            border: none;
            font-weight: bold;
            color: white;
            background: #2be3e0;
            padding: 10px;
            margin: 10px;
            border-radius: 5px;
            margin-left: -1px;
            width: 40%;
        }
        .bt-footer:hover{
            background-color: $bg-color-nav;
        }
    }
        p:hover{
            text-decoration: underline
        }
}