.content-pointment{
    margin-top: 20px;
    h1,p{
    text-align: center;
    color: $bg-color-text;     
    }
    p{
        margin-bottom: 20px;
        width: 90%;
        margin:   0  auto;
    }
    p{
        margin-bottom: 20px;
    }
    

}
.make-appointment{
    background-color: #6176d4c7;
    padding: 20px;
    width: 87%;
    border-radius: 30px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 2fr;
    form{
       margin-top: 20px;
       .user{
            margin-bottom:10px ;
        
            .peoples{
                position: absolute;
                top: 177%;
                left: 29%;
                
            }
            .people{
                position: absolute;
                top: 177%;
                left: 54.5%;
            }

       }
       .number-phone{
        margin-bottom:10px ;
            .fa-phone-volume{
                position: absolute;
                top: 184.4%;
                left: 28.7%;
            }
            .fa-lock{
                position: absolute;
                top: 184.3%;
                left: 54.5%;
            }

       }
       .email{
            margin-bottom: 10px;
       }
       .message{
        margin-bottom: 10px;
       }
       .name ,.number,.password{
        padding: 10px;
        width: 44%;
        margin-right: 10px;
        outline-color:rgb(135, 135, 224);
        border-radius: 10px;
        border: none;
        background-color: gainsboro;

       }
       .address-email{
        padding: 10px;
        width: 93.1%;
        outline-color:rgb(135, 135, 224);
        border-radius: 10px;
    border: none;
    background-color: gainsboro;
       }
       .text{
        width: 93.1%;
        padding: 10px;
        height: 15vh;
        outline-color:rgb(135, 135, 224);
        border-radius: 10px;
    border: none;
    background-color: gainsboro;
       }
    }
    button{
        padding: 10px;
        text-align: center;
        width: 96.4%;
        background-color: rgb(93, 193, 226);
        border: none;
        border-radius: 10px;
        color: #fff;
        font-weight: bold;
    }
    .application{
        border-left: 3px solid ;
        .app{
            border: 1px solid black;
            margin: auto;
            width: 80%;
            margin-bottom: 20px;
            padding: 5px;
            border: none;
            background-color: gainsboro;
            border-radius: 30px;
            
            img{
                width: 10%;
                vertical-align: middle;
                margin-right: 10px;
            }
        }
    }
}