@import"../mixincontact/_mixinappoinment";
.content-pointment {
    margin-top: 20px;

    h1,
    p {
        text-align: center;
        color: $bg-color-text;
    }

    p {
        margin-bottom: 20px;
        width: 90%;
        margin: 0 auto;
    }

    p {
        margin-bottom: 20px;
    }


}

.make-appointment {
    background-color: #6176d4c7;
    padding: 20px;
    width: 87%;
    border-radius: 30px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 2fr;
    .form-letf{
        h3{
        color: #fff;         
        }
         
    }
    
    form {
        margin-top: 20px;

        .user {
            margin-bottom: 10px;

            .peoples {
                @include form-icon(177%,29%)

            }

            .people {
                @include form-icon(177%,54.5%);
               
            }

        }

        .number-phone {
            margin-bottom: 10px;

            .fa-phone-volume {
                
                @include form-icon(184.4%,28.7%);
               
            }

            .fa-lock {
                @include form-icon(184.5%,54.4%);
            }

        }

        .email,.message {
            margin-bottom: 10px;
        }
        .name,
        .number,
        .password {
           @include completed;

        }

        .address-email {
            @include completed-location;
        }

        .text {
            @include completed-location;
            height: 15vh;
            
        
        }
        .name:hover{
            background-color: #fff;
        }
        }
    }

    button {
        padding: 10px;
        text-align: center;
        width: 96.4%;
        background-color: rgb(93, 193, 226);
        border: none;
        border-radius: 10px;
        color: #fff;
        font-weight: bold;
        a{
            text-decoration: none;
            color: #fff;
        }
    }
    .application {
        border-left: 3px solid;

        .app{
            border: 1px solid black;
            margin: auto;
            width: 80%;
            margin-bottom: 20px;
            padding: 5px;
            border: none;
            background-color: gainsboro;
            border-radius: 30px;

            img {
                width: 10%;
                vertical-align: middle;
                margin-left: 8px;
                padding: 2px;
               

            }
        }
        .app:hover{
            transform: translateY(-5px);
            
            transition: 0.3s;
            background-color:white;
        }
    }
