@import "../mixincontact/_mixinNavcontact";
nav {
    @include style-Nav(67%);
}

.logo,img {
    color: #fff;
    width: 170%;
    margin-left: 10px;
    
}

ul {
    padding: 5px;
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    #active{
        background: hsl(179, 77%, 53%);
        
    }
}


ul li a {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: $bg-color-text;
    padding: 8px 30px;
    margin-right: 20px;
    padding: 20px;
    font-weight: bold;
    transition: all .3s cased;
}

ul li a:hover,ul li a:active{
    color: #fff;
    
    background:rgb(33, 235, 235);
}