@import "../mixincontact/_mixinNavcontact";
nav {
    @include style-Nav(67%);
}

.logo,img {
    color: #fff;
    width:22%;
    margin-left: -60px;
    
}

ul {
    padding: 5px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 50%;

    #active{
        background: hsl(179, 77%, 53%);
        
    }
    
}


ul li a {
    font-family: sans-serif;
    text-decoration: none;
    color: $bg-color-text;
    padding: 8px 20px;
    padding: 15px;
    font-weight: bold;
    transition: all .3s cased;
}
