@media (min-width:320px) and (max-width:480px) {
@import"../mixincontact/_mixinNavcontact";
    nav {
        @include style-Nav;
        
        ul {
            margin-left: 50%;
            margin-right: -50%;
            font-size: 13px;
            margin: 5px;


        }
    }

    .logo,
    img {
        color: #fff;
        width: 500%;
        margin-right: 15%;

        ul {

            list-style: none;
            display: flex;
            flex-direction: row;
            width: 100%;

            #active {
                background: hsl(179, 77%, 53%);

            }
        }
    }

    .map {
        iframe {
            width: 100%;
            height: 35vh;
            margin-top: 63px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        }

    }

    .follow {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .mail,
        .phone,
        .location {
            font-size: 13px;
            height: 25vh;
            width: 50%;
            margin-left: 70px;
            margin-bottom: 20px;
        }

        .fa-solid {
            font-size: 20px;
            margin: 5px;
        }
    }

    .timetable {
        display: none;
    }

    .content-pointment {

        h1 {
            font-size: 25px;
            text-align: center;


        }

        p {
            font-size: 17px;
            width: 80%;
            text-align: justify;


        }

        .make-appointment {
            h3 {
                color: #fff;
                font-size: 12px;
            }

            width: 70%;

            height: 65vh;

            .user {
                margin-top: -20px;
            }

            .name {
                margin-top: 10px;
            }

            .name,
            .address-email,
            .text {
                width: 85%;
                padding: 5px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }

            .number,
            .password {
                display: none;
            }

            .fa-solid,
            .fa-user {
                display: none;
            }

            button {
                width: 50%;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }

            .application {
                border-left: 1px solid #000;

                .app {
                    padding: 5px;
                    font-size: 12px;
                    width: 90%;
                    margin-left: 10px;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

                    img {
                        width: 20%;
                    }
                }

                .app:active {
                    transform: translateY(-10px);
                    transition: 0.3s;
                }
            }
        }
    }

    .feedback {
        h1 {
            font-size: 25px;
            text-align: center;

        }

        p {
            font-size: 17px;
            width: 90%;
            margin-left: 20px;
            text-align: justify;
        


        }

        .comment {
            width: 70%;
            height: 70vh;
        }

        .img {
            display: none;
        }

        .rigth {
            h4 {
                width: 190%;
                font-size: 14px;
                margin-left: 40px;
                margin-left: -20px;
            }

            .rat {
                width: 130%;

            }

            color: #fff;

            margin-top: -10px;
            width: 100%;
            margin-left: 70px;

            span {
                font-size: 13px;

            }

            .btn {
                width: 90%;
                padding: 6px;
                margin-top: 10px;
                text-align: center;
                margin-left: 15px;
            }
        }


    }

    .grid-container-footer {
        width: 100%;
        font-size: 10px;


        .logo-footer {
            margin-left: -20px;

            .lg-footer,
            img {
                display: none;
            }

            .button-footer {
                display: none;
            }
        }

        .quick-link,
        .time-work,
        .get-in-toch {
            margin-top: 10px;
            margin-left: -10px;
            margin-right: 30px;

        }

        .bt-footer {
            display: none;
        }
    }
}