.timetable {
    margin-top: 20px;
    text-align: center;
    color: #fff;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    overflow: hidden;
}

td,
th {
    color: #fff;
    border: 1px solid #dddddd;
    padding: 8px;
    width: 12.85%;
    text-align: center;
}

th {
    background-color: rgb(75, 196, 236);
}
td{
    background-color: $bg-color-table;
    color: #fff;
    font-size: 13px;
}
td:nth-child(even):hover{
    background-color: rgb(108, 208, 241);
}
td:nth-child(odd):hover{
    background-color: $bg-color-footer;
}